@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin: 0;
}

h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-weight: 900;
}

p {
  font-size: 21px;
  font-weight: 400;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero  {
  padding: 100px 0;
  color: #fff;
  background: #23424A;
}

.hero__text {
  width: 60%;
}

.hero p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #23424A;
  background-color: #38CFD9;
  padding: .75em 2em;
  border-radius: 100px;
}

.btn:hover, .btn:focus {
  opacity: .75;
}

.row {
  padding: 3em 0;
  display: flex;
  text-align: center;
}

.three-col h2 {
  color: #87629A;
  font-weight: 900;
}

.row p {
  font-size: 19px;
}

.col + .col {
  margin-left: 20px;
}

.two-col {
  background-color: #136C72;
  color: #fff;
}