@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.container {
  max-width: 1128px;
  margin: 0 auto;
  width: 80%;
}

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 660px;
  background-color: #F3EED9;
}

.intro__text {
  width: 50%;
}

.intro__text p {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 10px;
  margin: 0;
}

.intro__text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 900;
  color: #824936;
  margin: 0;
}

.first {
  background-color: #222C2A;
}

.second {
  background-color: #824936;
}

.main__text {
  padding: 2em 0;
}

.main__text h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  color: #824936;
}

.paragraphs {
  line-height: 1.7;
  font-size: 21px;
  color: #222C2A;
}

.p + .p {
  margin-left: 50px;
}

.main__image {
  color: #F3EED9;
  padding: 5em 0;
}

.main__image h3 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.main__image p {
  font-size: 21px
}

.first__element {
  width: 50%;
}
.second__element {
  width: 45%;
}