* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.intro {
  min-height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3EED9;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.first {
  background-color: #222C2A;
}

.second {
  background-color: #824936;
}